@font-face {
    font-family: 'Avenir';
    font-weight: 300;
    src: url('../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf')
}

@font-face {
    font-family: 'Avenir';
    font-weight: 600;
    src: url('../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf')
}

@font-face {
    font-family: 'Avenir';
    font-weight: 900;
    src: url('../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf')
}