@import '../../partials/variables.scss';

.header {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    padding: 1rem;
    flex-direction: column;

    &__logo {
        margin-bottom: 0.5rem;
    }

    &__search {
        background-color: $alabaster;
        border-radius: 5px;
        padding: 1rem;
        border: solid 1px $mercury;
        margin-bottom: 0.5rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        width: 78%;
    }

    &__profile {
        border: solid 1px black;
    }
}