@import '../../partials/_variables.scss', '../../partials/_fonts.scss';


button {
    color: $white;
    background-color: $lightblue;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-family: 'Avenir';
    font-weight: 600;
    font-size: 1rem;
    border: none;
}
