@import '../../../partials/variables', '../../../partials/mixins';

.description {
    padding: 2rem 1rem;

    @include tablet {
        padding: 3rem 1.5rem 3.5rem;
    }

    @include desktop {
        padding: 3rem 0 3.5rem;
    }

    &__title {
        line-height: 2rem;
        margin-bottom: 0.5rem;

        @include tablet {
            font-size: 2.25rem;
            margin-bottom: 1rem;
        }
    }

    &__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 1.5rem;
    }

    &__channel {
        font-weight: 600;
        margin-right: 0.5rem;
    }

    &__date {
        color: $silver;
        font-size: 0.8125rem;

        @include tablet {
            font-size: 0.9rem;
        }
    }

    &__icon {
        margin-right: 0.5rem;
    }

    &__numbers {
        font-size: 0.8125rem;
        margin-right: 1.5rem;

        @include tablet {
            font-size: 0.9rem;
        }

        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__container {
        border-bottom: solid 1px $mercury;
        margin-bottom: 1.5rem;

        @include tablet {
            margin-bottom: 2rem;
        }
    }

    &__text {
        font-size: 0.8125rem;
        line-height: 1.25rem;

        @include tablet {
            font-size: 0.9rem;
            width: 75%;
            line-height: 1.5rem;
        }
    }
}

.items {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.item-2 {
    align-items: flex-start;
}
